:root {
    --primary-color: var(--themeActiveColor);
}

body {
    background-color: #000000;
    color: white;
}

.content-wrapper {
    max-width: 1820px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 70px;
}
.apps__links {
    text-wrap: nowrap;
}
.apps__links>div {
    width: 30%;
    height: auto;
 
}

.apps__links img {
    width: 100%;
    border: 1px solid var(--primary-button-color);
    border-radius: 40px;
    padding-inline: 1rem;
    padding-block: 0.1rem;
}

.btn-primary-new {
    background-color: var(--primary-color);
    color: #FFFFFF !important;
    border-radius: 31px;
    padding: 6px 18px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-wrap: nowrap;
}

.btn-primary-new-outline {
    background-color: #000;
    border: 1px solid var(--primary-color);
    color: white !important;
    border-radius: 31px;
    padding: 6px 18px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.browse-btn {
    color: #9F9F9F;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}

.sec-hero .tab-btns {
    max-width: 590px;
    margin-bottom: 1.4rem;
}



.sec-hero .tab-btns>div {
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: color .2s;
}

.sec-hero .tab-btns>div.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.sec-hero .tab-btns>div:hover {
    color: white;
}

.tabs {
    width: 100%;
}

.tabs .tab-content {
    display: none;
}

.tabs .tab-content.active {
    display: block;
}

.poster-slides {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 260px;
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0.51);
    overflow: hidden;
    position: relative;
}


.poster-slides img {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: absolute;
    display: none;
}

.poster-slides img.active {
    display: block;
}

.poster-slides .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.26deg, rgba(0, 0, 0, 0.8) 0.26%, rgba(0, 0, 0, 0.6) 41.33%, rgba(0, 0, 0, 0) 99.81%);
    z-index: 2;
}

.sec-hero .text-content {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.sec-hero .text-content .wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem 1rem;
}



.sec-hero .text-content .wrapper h3 {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.sec-hero .text-content .wrapper h1 {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.sec-hero .text-content .wrapper p {
    font-size: 12px;
    font-weight: 400;
    color: white;
    margin-bottom: 16px;
}

.video {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    /* height: 260px; */
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0.51);
    overflow: hidden;
    position: relative;
}

.sec-video {
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.048);
    max-width: 100%;
   
}

.sec-video h1 {
    /* font-size: 70px; */
    font-weight: 700;
    text-align: center;
    max-width: 1144px;
    margin: auto;
    margin-bottom: 2rem;

}

.sec-video h1 span {
    color: var(--primary-color);
}

.sec-video p {
    /* font-size: 30px; */
    font-weight: 400;
    text-align: center;
    max-width: 1144px;
    margin: auto;
    margin-bottom: 2rem;
}

.sec-video .video video {
    object-fit: fill;
    width: 100%;
    max-height: 589px;
    margin-bottom: -7px;
}

.sec-video .video video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 1 !important;
}

.sec-device {
    padding-bottom: 136px;
    border: 1px solid;
    border-image: linear-gradient(90deg, #002A92 0%, #002A92 50%, rgba(255, 255, 255, 0) 100%);
}

.sec-device .tab-btns {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 2rem;
}

.sec-device .tab-btns>div {
    padding-bottom: 1.2rem;
}

.sec-device .tab-btns>div {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -2px;
}


.sec-device .tab-btns>div span {
    cursor: pointer;
}

.sec-device .tab-btns>div.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.sec-device .tab-content h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.sec-device .tab-content h1 span {
    color: var(--primary-color);
}

.sec-device .tab-content p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.sec-device .tab-content .platforms {
    margin-bottom: 3rem;
}

.sec-device .tab-content .platforms .text {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    text-wrap: nowrap;
}


.sec-device .device-img {
    max-width: 100%;
}

.sec-cta .text h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
}

.sec-cta .text h1 span {
    color: var(--primary-color);
}

.sec-cta .text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 22px;
    text-align: center;
}

.sec-cta .field {
    border: 0.5px solid var(--primary-color);
    background: #D9D9D91A;
    border-radius: 100px;
    padding: 8px 10px;
    text-wrap: nowrap;
}

.sec-cta .field input {
    flex-grow: 1;
    border-radius: 100px;
    padding-left: 50px;
    background-color: transparent;
    border: none;
    color: #909090;
    font-size: 22px;
}

.sec-cta .field input:focus,
.sec-cta .field input:focus-visible {
    border: none;
    outline: none;
}

.sec-cta .field input::placeholder {
    color: #909090;
    font-size: 22px;
}

.sec-cta .field .get-started-btn {
    padding: 26px 68px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 100px;
    border: none;
}

.footer {
    background-color: rgba(255, 255, 255, 0.048);
    padding: 4rem 18rem;
    max-width: 100%;
}

.sec-cta {
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.048);
    max-width: 100%;
    margin-bottom: 8px;
}



@media (max-width:399px) {
    .sec-cta .field .get-started-btn {
        padding: 2px 11px;
        font-size: 8px;
        /* font-weight: 500; */
        border-radius: 100px;
        border: none;
        text-wrap: nowrap;
    }
}
@media (max-width:400px) {
    .sec-cta .field .get-started-btn {
        padding: 7px 23px;
        font-size: 8px;
        font-weight: 500;
        border-radius: 100px;
        border: none;
        text-wrap: nowrap;
    }

}
@media (min-width: 576px) {
    .btn-primary-new,
    .btn-primary-new-outline {
        padding: 6px 27px;
    }

    .btn-primary-new,
    .btn-primary-new-outline,
    .browse-btn {
        font-size: 16px;
    }
    .sec-hero .text-content .wrapper h3 {
        font-size: 22px;
    }

    .sec-hero .text-content .wrapper h1 {
        font-size: 32px;
    }

    .sec-hero .text-content .wrapper p {
        font-size: 14px;
    }
    .sec-video p {
        font-size: 21px;
    }
    .sec-video h1 {
        font-size: 42px;
    }
    .sec-hero .text-content .wrapper {
        padding: 0 1.6rem 3rem;
    }
    .poster-slides {
        height: 365px;
    }
    .sec-device .tab-content h1 {
        font-size: 42px;
        margin-bottom: 1.6rem;
    }

    .sec-device .tab-content p {
        font-size: 21px;
        margin-bottom: 2rem;
    }

    .device-download-btn {
        padding: 14px 45px;
        font-size: 20px;
        font-weight: 600;
    }
    .logo {
        width: 101px;
    }
}

@media (max-width:768px) {
    .sec-cta .field {
        border: 0.5px solid var(--primary-color);
        background: #D9D9D91A;
        border-radius: 100px;
        padding: 3px 10px;
    }

    .sec-cta .field input {
        flex-grow: 1;
        border-radius: 106px;
        padding-left: 40px;
        background-color: transparent;
        border: none;
        color: #909090;
        font-size: 14px;
    }

    .sec-cta .field .get-started-btn {
        padding: 10px 30px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 100px;
        border: none;
        text-wrap: nowrap;
    }

    .sec-cta .field input::placeholder {
        color: #909090;
        font-size: 12px;
    }

    .footer {
        background-color: rgba(255, 255, 255, 0.048);
        padding: 2rem 1rem;
        max-width: 100%;
    }
    .sec-device {
        padding-bottom: 43px;
    }

}
@media(min-width: 768px) {
    .sec-device .tab-btns {
        margin-bottom: 3rem;
    }
    .sec-device .tab-btns>div {
        font-size: 18px;
    }
    .sec-cta .text h1 {
        font-size: 60px;
        margin-bottom: 22px;
        text-align: left;
    }

    .sec-cta .text p {
        font-size: 30px;
        text-align: left;
    }

    .sec-cta .field .get-started-btn {
        padding: 16px 32px;
    }
    .sec-hero .tab-btns {
        margin-bottom: 2rem;
    }
    .poster-slides {
        height: 440px;
    }
    .sec-hero .text-content .wrapper h3 {
        font-size: 28px;
    }

    .sec-hero .text-content .wrapper h1 {
        font-size: 38px;
    }

    .sec-hero .text-content .wrapper p {
        font-size: 18px;
    }

    .sec-hero .get-started-btn {
        font-size: 20px;
        font-weight: 500;
        padding: 10px 50px;
    }
    .sec-video p {
        font-size: 25px;
    }
    .sec-video h1 {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .sec-hero .text-content .wrapper h3 {
        font-size: 33px;
    }

    .sec-hero .text-content .wrapper h1 {
        font-size: 58px;
    }

    .sec-hero .text-content .wrapper p {
        font-size: 20px;
    }
    .sec-video p {
        font-size: 28px;
    }
    .sec-video h1 {
        font-size: 55px;
    }
    .sec-device .tab-content h1 {
        font-size: 60px;
        margin-bottom: 1.6rem;
    }

    .sec-device .tab-content p {
        font-size: 30px;
        margin-bottom: 3.5rem;
    }
    .poster-slides {
        height: 600px;
    }
}

@media(min-width: 1200px) {
    .sec-device .tab-btns {
        margin-bottom: 4rem;
    }
    .poster-slides {
        height: 675px;
    }
}
@media (min-width: 1400px) {
    .sec-cta .field .get-started-btn {
        padding: 26px 68px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 100px;
        border: none;
    }
    .sec-video p {
        font-size: 30px;
    }
    .sec-video h1 {
        font-size: 60px;
    }
    .sec-device .tab-btns {
        margin-bottom: 6rem;
    }
    .poster-slides {
        height: 675px;
    }
    .sec-hero .text-content .wrapper>* {
        width: 80%;
    }
}
@media (max-width: 420px) {
    .sec-cta .field {
        border: 0.5px solid var(--primary-color);
        background: #D9D9D91A;
        border-radius: 100px;
        padding: 2px 10px;
        margin-left: -18px;
    }
    .sec-cta .field .get-started-btn {
        padding: 6px 12px;
        font-size: 9px;
        font-weight: 500;
        border-radius: 100px;
        border: none;
        text-wrap: nowrap;
    }
}

