:root {
    --primary-color: var(--themeActiveColor);
}

body {
    background-color: #000000;
    color: white;
}

.content-wrapper {
    max-width: 1820px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 70px;
}
@media (min-width: 576px) {
    .logo {
        width: 101px;
    }
}

.btn-primary-new {
    background-color: var(--primary-color);
    color: #FFFFFF !important;
    border-radius: 31px;
    padding: 6px 18px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    border: 1px solid var(--primary-color);
}
.btn-primary-new-outline {
    background-color: #000;
    border: 1px solid var(--primary-color);
    color: white !important;
    border-radius: 31px;
    padding: 6px 18px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}
.browse-btn {
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    transition: color .2s;
}
.browse-btn:hover {
    color: var(--primary-color);
}



.search-icon {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.content_bgsnew {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: -1;
}
.content_bgsnew img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transform: scale(1.25) translateY(-10%);
    width: 100%;
}
.concord_gradient {
    background: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(6deg, rgba(0, 0, 0, 0.8) 0, transparent 100%, rgba(0, 0, 0, -0.2));
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.unlimmited_headers {
    font-family: Inter, sans-serif;
    font-size: 33px;
    font-weight: 600;
  
}
.cards_headtitles {
    font-family: Inter, sans-serif;
    font-size: 2.625rem;
    color: #fff;
    font-weight: bold;
}
.cards_headtitles span {
    font-family: Inter, sans-serif;
    -webkit-text-stroke: 2px white;
    color: black;
    font-weight: 900;
    font-size: 2.7rem;
}
.cards_headtitles h2 {
    font-family: Inter, sans-serif;
    font-size: 1.625rem;
    color: #fff;
    font-weight: bold;
}
.leadinsttiltes {
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    color: #fff;
}
.our_storycard {
    background: transparent;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(216, 15, 47, 1), rgba(255, 255, 255, 0)) 1;
    color: #fff;
    margin-bottom: 0;
    padding: 10px 5% 50px;
    position: relative;
}
.circle_image{
    max-width: 100%;
    height: fit-content;
}
.circle_text{
    max-width: 387px;
}
.circle_text{
    max-width: 387px;
}
.membership_dec span{
color: var(--primary-color);
}
.membership {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    /* padding: 6px 6px; */
    border: 0.5px solid var(--primary-color);
    text-wrap: nowrap;
}
.membership input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 8px 12px;
    color: #fff;
    width: 100%;
    max-width: 100%;
   
}
.custom__button {
    background-color: var(--primary-color);
    font-size: 15px;
    padding-block: 0.4rem;
    padding-inline: 1.6rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.apps__links {
    /* text-wrap: nowrap;
     */
     margin: auto;
     /* width: max-content; */
     display: flex;
     gap: 29px;
     align-items: center;
     justify-content: center;
     /* flex-direction: column; */
}


.apps__links img {
    width: 120px;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    padding-inline: 0.rem;
    padding-block: 0.1rem;
    max-width: 100%;
    
}
.sec-video {
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.048);
    max-width: 100%;
}
.content-wrapper {
    max-width: 1820px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.sec-video p {
    font-size: 30px;
}
.sec-video h1 {
    font-size: 60px;
    font-weight: 700;
}
.sec-video h1 span {
    color: var(--primary-color);
}


.sec-device {
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.048);
    max-width: 100%;
   
}
.content-wrapper {
    max-width: 1820px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.sec-device p {
    font-size: 30px;
}
.sec-device h1 {
    font-size: 60px;
    font-weight: 700;
}
.sec-device h1 span {
    color: var(--primary-color);
}
.tab-btns{
    border-top-right-radius: 20px;
    background: var(--primary-color);
    border-top-left-radius: 20px;
}
.tab-btns>div>span {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8); /* Default color for non-active tabs */
    margin-top: 15px;
    text-wrap: nowrap;
}

.tab-btns>div.active span {
    font-weight: bold;
    color: white; /* Color for active tab */
}

.tab-btns>div.active {
    border-bottom: 3px solid white;
    font-weight: 900;
    font-size: 36px;
}

.stream-icons{
    background: white;
}
.tv__links {
    position: relative;
    padding-block: 2rem;
  }
  .tv__links span {
    color: var(--themeActiveColor);
  }
  .app__icons > div {
    width: 60px;
  }
  .app__icons > div img {
    width: 100%;
    height: auto;
  }
  .watch__now {
    background: -webkit-linear-gradient(90deg, #306eed 4.14%, #dd0c29 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 18px;
    text-wrap: nowrap;
  }

  .faq_question {
    border: 0;
    font-weight: 400;
    margin-bottom: 1px;
    padding: 0.8em 2.2em 0.8em 1.2em;
    position: relative;
    width: 100%;
    background: #303030;
    color: #fff;
    text-align: left;
    display: block;
}
.accrodingin {
    margin: .1em auto;
    width: 67%;
    border: 2px solid white;
}
.faq_question .svg-icon-thin-x {
    fill: #fff;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    transform: translateY(-50%) rotate(-45deg);
}
.acrodinbibody {
    display: inline-block;
    padding: 1.2em;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}



  .membership__section {
    position: relative;
    background-color: rgba(255, 255, 255, 0.048);
  }
  .membership__section::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("{{ asset('assets/landing_theme_assets/theo/images/gradient.png') }}");
      
    background-position: right;
    opacity: 1;
    z-index: 99;
  }
  .membership__section::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../assets/landing_theme_assets/theo/images/gradient.png");
    background-position: left;
    opacity: 1;
  }
  
  .membership {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    /* padding: 6px 6px; */
  }
  .membership input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 8px 12px;
    color: #fff;
    width: 100%;
    max-width: 100%;
  }
  .membership a {
    white-space: nowrap;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 30% !important;
}
.owl-stage {
    margin: auto;
}

.owl-stage img {
    margin: auto !important;
}

.owl-item {
    height: 100%;
}
.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    border-top: 2px solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(216, 15, 47, 1), rgba(255, 255, 255, 0)) 1;
    width: 80%;
    margin: auto;
    padding-block: 2rem;
    color: #fff;
  }
  footer span {
    color: var(--primary-button-color);
  }
@media (max-width:576px) {
    .cards_headtitles {
        font-size: 22px;
     
        font-weight: bold;
    }
    .cards_headtitles span {
        -webkit-text-stroke: 1px white;
        font-weight: 600;
        font-size: 24px;
    }
    .unlimmited_headers {
        font-size: 17px;
        font-weight: 600;
    }

}
@media (min-width: 630px) and (max-width:768px) {
    .unlimmited_headers {
        font-size: 25px;
        font-weight: 600;
    }
    .cards_headtitles {
        font-size: 33px;
        font-weight: bold;
    }
    .cards_headtitles span {
        -webkit-text-stroke: 1px white;
        font-weight: 600;
        font-size: 33px;
    }
    .leadinsttiltes {
        font-family: Inter, sans-serif;
        font-size: 15px;
        color: #fff;
    }
}
@media (min-width: 530px) and (max-width:630px) {
    .unlimmited_headers {
        font-size: 20px;
        font-weight: 600;
    }
    .cards_headtitles {
        font-size: 29px;
        font-weight: bold;
    }
    .cards_headtitles span {
        -webkit-text-stroke: 1px white;
        font-weight: 600;
        font-size: 29px;
    }
    .leadinsttiltes {
        font-family: Inter, sans-serif;
        font-size: 13px;
        color: #fff;
    }
}
@media (min-width: 460px) and (max-width:530px) {
    .unlimmited_headers {
        font-size: 17px;
        font-weight: 600;
    }
    .cards_headtitles {
        font-size: 25px;
        font-weight: bold;
    }
    .cards_headtitles span {
        -webkit-text-stroke: 1px white;
        font-weight: 600;
        font-size: 25px;
    }
    .leadinsttiltes {
        font-family: Inter, sans-serif;
        font-size: 10px;
        color: #fff;
    }
}
@media (max-width:460px) {
    .content-wrapper
    {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }

    .unlimmited_headers {
        font-size: 15px;
        font-weight: 600;
    }
    .cards_headtitles {
        font-size: 22px;
        font-weight: bold;
    }
    .cards_headtitles span {
        -webkit-text-stroke: 1px white;
        font-weight: 600;
        font-size: 22px;
    }
    .leadinsttiltes {
        font-family: Inter, sans-serif;
        font-size: 10px;
        color: #fff;
    }
}
@media (min-width: 576px) {
    .btn-primary-new, .btn-primary-new-outline {
        padding: 6px 36px;
    }
    .btn-primary-new, .btn-primary-new-outline, .browse-btn {
        font-size: 16px;
    }
}

@media (max-width:768px) {
    .apps__links {
        /* text-wrap: nowrap;
         */
         margin: auto;
         display: flex;
         gap: 8px;
         align-items: center;
         justify-content: center;
         flex-direction: column;
    }
    .tab-btns>div>span {
        text-wrap: nowrap;
        font-size: 13px;
    }
    .tab-btns>div.active {
        font-size: 16px;
    }
    .sec-video  h1 {
        font-size: 26px;
        font-weight: 700;
    }
    .sec-video  p {
        font-size: 14px;
    }
    .sec-device h1 {
        font-size: 26px;
        font-weight: 700;
    }
    .sec-device p {
        font-size: 14px;
    }
    .acrodinbibody {
        font-size: 0.7rem;
    }
}

.active-device {
    display: block !important;
}