#an1{
    top:20px;
    left:100px;
    background:#333;
    color:white;
    padding:5px;
    max-width: 300px;
    font-size:13px!important;
}
#an1 a{
    color:yellow;
}
#an2{
    left:20px;
    bottom:60px;
}
#an2 img{
    display: block;
    float: left;
}
.an2-wrap{
    overflow: hidden;
    background-color: #fff;
    max-width: 350px;
}
.an2-title{
    font-size: 18px;
    color:#c95d0e;
    margin-left: 134px;
    padding: 10px 10px 0 10px;
}
.an2-desc{
    padding: 10px;
    font-size: 14px;
    margin-left: 134px;
    color:#333;
}
#an3{
    bottom:100px;
    right:100px;
    background:#dea425;
    color:white;
    padding:10px;
    max-width: 250px;
    font-size:16px!important;
}




#dan1{
    right: 0;
    bottom: 50px;
}
#dan1 p{
    background: #80859a;
    padding: 10px;
    color: #fff;
}

#dan2{
    top: 50px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding:15px;
}
.alert-success h4,
.alert-success p{
    margin-bottom: 5px;
}
.alert a.btn {
    color: #fff!important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media (max-width: 550px) {
    .travel-info {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 82%;
        padding: 20px;
        color: var(--themePrimaryTxtColor);
        z-index: 99;
    }
    #content #slider .mainImages {
        position: relative;
        z-index: 1;
        width: 100%;
        margin: auto;
    }
  }
