/* .ripple {
    display: inline-flex;
    justify-content: center;
} */
/* .banner_main {
    width: 90%;
} */
/* .billboard_ads  img
 {
    width: 100%;
    height: auto;
 } */
/*==================================== slider thumbnail img styling on card type ============================= */
/* ------  Landscape(LA)  --------- */
.LA_2 {
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
    width: 100% !important;
}

.LA_3 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

.LA_4 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

.LA_5 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

.LA_6 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

.LA_7 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

.LA_8 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

/* ------  Standard(ST)  --------- */

.ST_2 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
}

.ST_3 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
}

.ST_4 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
}

.ST_5 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
}

.ST_6 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
}

/* ------  Potrait(PO)  --------- */
.PO_2 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_3 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_4 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_5 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_6 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_7 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_8 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_9 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_10 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

/* ------  Square(QU)  --------- */
.QU_2 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.QU_3 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.QU_4 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.QU_5 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.QU_6 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.QU_7 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}
.onebyone {
    width: 100% !important;
    height: 100% !important;
}

/* ------  Banner(BA)  --------- */
.BA_5 {
    width: 95vw !important;
    border-radius: 5px !important;
}
.slider {
    padding-top: 15px;
    padding-bottom: 10px !important; 
}
.slick-list .slick-slide{
    padding-bottom: 5px !important;
}

/*==================================== end slider thumbnail img styling on card type ============================= */
@media (max-width: 3560px) {
    .thumbnail_img {
        height: auto !important;
    }
    .LA_2 {
        height: 43rem !important;
    }
    .LA_3 {
        height: 29rem !important;
    }
    .LA_4 {
        height: 23rem !important;
    }
    
    .LA_5 {
        height: 17rem !important;
    }
    
    .LA_6 {
        height: 15rem !important;
    }
    
}

@media (max-width: 1920px) {
    .thumbnail_img {
        height: auto !important;
    }
    .LA_2 {
        height: 30rem !important;
    }
    .LA_3 {
        height: 20rem !important;
    }
    .LA_4 {
        height: 16rem !important;
    }
    
    .LA_5 {
        height: 12rem !important;
    }
    
    .LA_6 {
        height: 11rem !important;
    }
}
@media (max-width: 1440px) {
    .BA_5 {
        width: 90vw !important;
        border-radius: 5px !important;
    }
    .thumbnail_img {
        height: auto !important;
    }
    .LA_2 {
        height: 23rem !important;
    }
    .LA_3 {
        height: 16rem !important;
    }
    .LA_4 {
        height: 12rem !important;
    }
    
    .LA_5 {
        height: 10rem !important;
    }
    
    .LA_6 {
        height: 8rem !important;
    }
}

@media (max-width: 1200px) {
    .thumbnail_img {
        height: auto !important;
    }
}

@media (max-width: 1170px) {
    .thumbnail_img {
        height: auto !important;
    }
}

@media (max-width: 1100px) {
    .thumbnail_img {
        height: auto !important;
    }
}
@media (max-width: 1024px) {
    .LA_3 {
        height: 18rem !important;
    }
    .LA_4 {
        height: 13rem !important;
    }
    .LA_4 {
        height: 10rem !important;
    }
}

@media (max-width: 768px) {
    .thumbnail_img {
        height: auto !important;
    }
    .LA_3 {
        height: 18rem !important;
    }
    .LA_4 {
        height: 12rem !important;
    }
    .LA_5 {
        height: 10rem !important;
    }
}
@media (max-width: 425px) {
    .thumbnail_img {
        height: auto !important;
    }
    .LA_3 {
        height: 12rem !important;
        margin-bottom: -24px !important;
    }
    .LA_4 {
        height: 10rem !important;
        margin-bottom: 6px !important;
    }
    .LA_5 {
        height: 10rem !important;
        margin-bottom: 8px !important;
    }
    .LA_6 {
        height: 10rem !important;
        margin-bottom: 8px !important;
    }
    .slider {
        padding-top: 15px;
        padding-bottom: 0px !important; 
    }
    .slick-list .slick-slide{
        padding-bottom: 0px !important;
    }
}