/* .ripple {
    display: inline-flex;
    justify-content: center;
} */
/* .banner_main {
    width: 90%;
} */
/* .billboard_ads  img
 {
    width: 100%;
    height: auto;
 } */
/*==================================== slider thumbnail img styling on card type ============================= */
/* ------  Landscape(LA)  --------- */
.LA_2 {
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
    width: 100% !important;
}

.LA_3 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

.LA_4 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

.LA_5 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

.LA_6 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

.LA_7 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

.LA_8 {
    max-width: 100% !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: auto;
}

/* ------  Standard(ST)  --------- */

.ST_2 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
}

.ST_3 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
}

.ST_4 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
}

.ST_5 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
}

.ST_6 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
    height: auto;
}

/* ------  Potrait(PO)  --------- */
.PO_2 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_3 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_4 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_5 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_6 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_7 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_8 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_9 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.PO_10 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

/* ------  Square(QU)  --------- */
.QU_2 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.QU_3 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.QU_4 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.QU_5 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.QU_6 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}

.QU_7 {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px !important;
}
.onebyone {
    width: 100% !important;
    height: 100% !important;
}

/* ------  Banner(BA)  --------- */
.BA_5 {
    width: 95vw !important;
    border-radius: 5px !important;
}

/*==================================== end slider thumbnail img styling on card type ============================= */
@media (max-width: 3560px) {
    .thumbnail_img {
        height: auto !important;
    }
}

@media (max-width: 1920px) {
    .thumbnail_img {
        height: auto !important;
    }
}
@media (max-width: 1440px) {
    .BA_5 {
        width: 90vw !important;
        border-radius: 5px !important;
    }
}

@media (max-width: 1200px) {
    .thumbnail_img {
        height: auto !important;
    }
}

@media (max-width: 1170px) {
    .thumbnail_img {
        height: auto !important;
    }
}

@media (max-width: 1100px) {
    .thumbnail_img {
        height: auto !important;
    }
}

@media (max-width: 768px) {
    .thumbnail_img {
        height: auto !important;
    }
}