/* for the advisory section */
.advisor-widget {
    z-index: 99999999999;
    /* width: 100px; */
    position: absolute;
    text-align: start;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: white;
    left: 10px;
    padding: 2px;
    border-left: 3px solid var(--themeActiveColor);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    max-width: 100%;
    top: 17px;
}

.advisor-line {
    margin: 0;
    font-size: 8px;
}

.advisor-line:first-child {
    font-weight: bold;
}

@media (min-width: 600px) and (max-width: 991px) {
    .advisor-line {
        font-size: 8px;
    }
    .advisor-widget {
        
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 6px;
    }
}

/* Styles for laptops and small desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .advisor-line {
        font-size: 11px;
    }

    .advisor-widget {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 5px;
    }
}

/* Styles for full screen or large monitors */
@media (min-width: 1200px) {

    .advisor-line {
        font-size: 12px;
    }

    .advisor-widget {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 7px;
    }
}
