* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --bg-color: #0f0f0f;
    --header-bg-color: #000000;
    --active-color: #c54f3f;
    --nav-color: #ffffff;
    --primary-text-color: #ffffff;
    --secondary-text-color: #131722;
    --footer-bg-color: #131722;
    --mbl-menu-color: #131722;
    --nav-search-color: #888888;
    --card-desc-color: #ffffff;
    --slider-card-bg-color: #131722;
    --slider-card-title-color: #ffffff;
    --slider-card-cat-color: #ffffff;
}

body {
    background-color: var(--bg-color);
}

.content {
    padding-top: 101px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 6px 0px;
    background-color: var(--header-bg-color);
    z-index: 1;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.header .inner .links {
    display: flex;
    align-items: center;
    list-style: none;
    color: #fff;
    padding-left: 0px;
    margin-bottom: 0px;
}

.header .inner .links .logo {
    padding-left: 7px;
}

.header .inner .links .logo img {
    width: 88px;
    height: auto;
}

.header .inner .links li {
    height: fit-content;
    color: var(--nav-color);
    font-size: 16.5px;
    font-weight: 500;
    padding: 7px 16.5px;
    cursor: pointer;
    transition: all 0.3s;
}

.header .inner .links li:hover {
    color: var(--active-color);
}

.header .btns {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .btns .search {
    font-size: 23px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.header .btns .search:hover {
    color: var(--active-color);
}

.app-primary-btn {
    text-decoration: none;
    background-color: var(--active-color);
    color: var(--nav-color);
    font-weight: 500;
    border: solid 2px transparent;
    padding: 6px 23px;
    border-radius: 5px;
    transition: all 0.3s;
}

.app-primary-btn:hover {
    background-color: transparent;
    border-color: var(--active-color);
    color: var(--active-color);
}

.app-secondary-btn {
    text-decoration: none;
    background-color: transparent;
    color: var(--active-color);
    font-weight: 500;
    border: solid 2px var(--active-color);
    padding: 6px 23px;
    border-radius: 5px;
    transition: all 0.3s;
}

.app-secondary-btn:hover {
    background-color: var(--active-color);
    border-color: transparent;
    color: var(--nav-color);
}

.header .menu-icon {
    background-color: var(--active-color);
    border-radius: 5px;
    padding: 0px 4px;
    height: 39px;
    display: flex;
    align-items: center;
}

.header .menu-icon i {
    font-size: 32px;
    color: #fff;
}

.mbl-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--mbl-menu-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s;
    z-index: -1;
    user-select: none;
    pointer-events: none;
}

.mbl-menu.active {
    opacity: 1;
    z-index: 10;
    pointer-events: all;
}

.mbl-menu .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    color: #fff;
    margin-top: 23px;
    margin-right: 19px;
    cursor: pointer;
}

.mbl-menu ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.mbl-menu li {
    color: var(--primary-text-color);
    font-size: 20px;
    text-align: center;
    transition: all 0.3s;
}

.mbl-menu li:hover {
    color: var(--active-color);
}

.mbl-menu .btns {
    flex-direction: column;
    margin-top: 27px;
}

.mbl-menu .btns .search {
    color: #fff;
}

.mbl-menu .btns .search {
    margin-right: 0px;
}

.owl-wrapper {
    position: relative;
    margin-top: 18px;
}

.owl-item {
    position: relative;
}

.owl-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    backdrop-filter: blur(3px) brightness(0.6);
    opacity: 1;
    transition: all 0.3s;
}

.owl-item.active::before {
    pointer-events: none;
    opacity: 0;
}

.owl-nav {
    position: absolute;
    opacity: 0;
}

.owl-prev-btn {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
}

.owl-next-btn {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    transform: translateY(-50%);
}

.cover-slider-item {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
}

.cover-slider-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--slider-card-bg-color) 42%, #00000000 71%);
    z-index: 2;
}

.cover-slider-item .info {
    position: relative;
    width: 42%;
    padding-left: 40px;
    padding-top: 40px;
    z-index: 2;
}

.cover-slider-item .cover {
    position: relative;
    width: 58%;
    z-index: -1;
}

.cover-slider-item .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-slider-item .info h2 {
    color: var(--slider-card-title-color);
    font-size: 30px;
    margin-bottom: 17px;
    height: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 330px;
}

.cover-slider-item .info .timestamp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 17px;
}

.cover-slider-item .info .timestamp span {
    color: var(--slider-card-cat-color);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
}

.cover-slider-item .info .timestamp span i::before {
    transform: scale(1.5);
}

.cover-slider-item .info .timestamp .badges {
    display: flex;
    gap: 5px;
    margin-left: 8px;
}

.cover-slider-item .info .timestamp .badge {
    display: block;
    border: solid 1px #c9c9c9;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 15px;
}

.cover-slider-item .info .description {
    color: var(--card-desc-color);
    opacity: 0.8;
    font-size: 15px;
    font-weight: 300;
    padding-right: 20px;
    display: -webkit-box;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 23px;
    margin-bottom: 35px;
}

.cover-slider-item .info .btns {
    display: flex;
    gap: 17px;
}

.cover-slider-item .info .btns a {
    padding: 10px 23px;
}

.owl-controll-btn {
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
}

.owl-wrapper:hover .owl-controll-btn {
    opacity: 1;
}

@media (max-width: 1120px) {
    .content {
        padding-top: 96px;
    }

    .header .inner .links .logo img {
        width: 80px;
    }

    .header .inner .links li.pc {
        display: none;
    }

    .header .inner .btns {
        display: none;
    }
}

@media (min-width: 1119px) {
    .header .menu-icon {
        display: none;
    }
}

@media (max-width: 921px) {
    .content {
        padding-top: 90px;
    }

    .header .inner .links .logo img {
        width: 73px;
    }

    .header .inner {
        padding: 0px 15px;
    }

    .header .menu-icon {
        height: 35px;
        padding-top: 0.95px;
    }

    .header .menu-icon i {
        font-size: 28px;
    }
}

@media (min-width: 1120px) {
    .mbl-menu {
        display: none !important;
    }
}

@media (max-width: 486px) {
    .header {
        padding: 5px 0px;
    }
}

@media (max-width: 999px) {
    .cover-slider-item {
        height: 300px;
    }
}

@media (max-width: 788px) {
    .cover-slider-item .info h2 {
        font-size: 26px;
        margin-bottom: 14px;
    }

    .cover-slider-item .info .timestamp {
        margin-bottom: 14px;
    }

    .cover-slider-item .info .timestamp span {
        font-size: 14px;
    }

    .cover-slider-item .info {
        width: 45%;
    }

    .cover-slider-item .cover {
        width: 55%;
    }

    .cover-slider-item::before {
        background: linear-gradient(90deg, var(--slider-card-bg-color) 45%, #00000000 71%);
    }

    .cover-slider-item .info .btns a {
        padding: 6px 20px;
        font-size: 15px;
    }

    .cover-slider-item .info .description {
        margin-bottom: 30px;
    }
}

@media (max-width: 649px) {
    .cover-slider-item {
        height: fit-content;
    }

    .cover-slider-item::before {
        display: none;
    }

    .cover-slider-item .info .btns {
        margin-bottom: 20px;
    }

    .cover-slider-item .info {
        width: 100%;
        background: linear-gradient(46deg, #131722, 71%, transparent);
    }

    .cover-slider-item .cover {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .cover-slider-item .info .description {
        max-width: 349px;
    }

    .cover-slider-item .info .btns a {
        font-size: 14px;
    }
}

@media (max-width: 648px) {
    .owl-controll-btn {
        display: none;
    }
}

@media (min-width: 1007px) {
    .cover-slider-item .info {
        padding-top: 50px;
    }
}