@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.all__profiles {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 4rem;
}
.whoIsWatching {
    width: 70%;
}
.all__profiles h1 {
    font-size: 4rem;
    padding: 2rem;
}
.logo-section {
    width: 95vw;
    margin: auto;
    height: 7rem;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-section a img {
    width: 10rem;
    height: 4rem;
    cursor: pointer;
}

.memberDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 3rem;
}

.memberDiv .btn {
    width: 8vw;
    max-width: 8rem;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.memberDiv .btn:nth-child(1),
.memberDiv .btn:nth-child(6) {
    background-image: url("../images/user1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 8rem;
    margin-bottom: 1rem;
}

.memberDiv .btn:nth-child(2) {
    background-image: url("../images/user2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 8rem;
    margin-bottom: 1rem;
}

.memberDiv .btn:nth-child(3),
.memberDiv .btn:nth-child(5) {
    background-image: url("../images/user3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 8rem;
    margin-bottom: 1rem;
}

.memberDiv .btn:nth-child(4) {
    background-image: url("../images/user4.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 8rem;
    margin-bottom: 1rem;
}

.memberDiv .btn:hover {
    transform: scale(1.1);
}

.memberDiv .btn span {
    width: inherit;
    position: absolute;
    left: 0;
    top: 100%;
    text-transform: capitalize;
    color: rgb(153, 153, 153);
    font-size: 1rem;
}

.manageProfile {
    border: 1px solid grey;
    color: grey;
    text-transform: uppercase;
    padding: 0.8rem 2.6rem;
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    margin-top: 12rem;
    background-color: transparent;
    cursor: pointer;
}

.manageProfile:hover {
    border: 1px solid #fff;
    color: #fff;
}

.addIcon {
    max-width: 8rem;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
    margin-top: -18px;
}
.addIcon span {
    width: inherit;
    position: absolute;
    top: 96%;
    left: 10%;
    transform: translateX(-50%, -50%);
    text-transform: capitalize;
    color: rgb(153, 153, 153);
    font-size: 1rem;
}
.fa-plus-circle {
    color: grey;
    opacity: 0.8;
    position: relative; /* Ensure positioning context for the pseudo-element */
    transition: all 0.3s;
}

.fa-plus-circle:hover {
    transform: scale(1.1);
    color: #fff;
    opacity: 1;
}

.addicon:hover > .fa-plus-circle {
    opacity: 1;
}

.addIcon i {
    font-size: 7.9rem !important;
}

@media (max-width: 601px) {
    .addIcon i {
        font-size: 6.9rem !important;
    }

    .addIcon span {
        width: inherit;
        position: absolute;
        top: 96%;
        left: 0;
        text-transform: capitalize;
        color: rgb(153, 153, 153);
        font-size: 1.5rem;
    }
    .all__profiles h1 {
        font-size: 3rem;
        padding: 1.8rem;
    }
}

@media (max-width: 401px) {
    .addIcon i {
        font-size: 6.9rem !important;
    }
    .all__profiles h1 {
        font-size: 2.5rem;
        padding: 1.5rem;
    }
}

@media (max-width: 301px) {
    .addIcon i {
        font-size: 6.9rem !important;
    }
}
