@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
:root {
  --primary-button-color:  var(--themeActiveColor);
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
}
.wrapper {
  min-height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
    url(/assets/landing_theme_assets/iris/images/image24.png); */
  background-position: center;
  background-size: cover;
  position: relative;
}
.navbar__items {
  width: 100%;
  margin: auto;
}
@media (min-width: 600px) {
  .navbar__items {
    width: 90%;
  }
}

.logo__item img {
  width: 62px;
  height: auto;
}
@media (min-width: 600px) {
  .logo__item img {
    width: 100px;
  }
}
.custom-button {
  background-color: transparent;
  border: none;
  outline: none;
  padding-inline: 1.5rem;
  padding-block: 0.2rem;
  font-size: 1rem;
  border-radius: 1.3rem;
  border: 1px solid var(--primary-button-color);
}
.custom-button.active {
  background-color: var(--primary-button-color);
}
.content-wrapper {
  margin: auto;
  text-align: center;
  margin-top: 3.5rem;
}
@media (min-width: 600px) {
  .content-wrapper {
    width: 60%;
  }
}
.content-wrapper p {
  width: 80%;
  margin: auto;
}
.menu {
  margin-top: 5rem;
}
.menu__images {
  width: 80%;
  height: auto;
  margin: auto;
}
.menu__images img {
  width: 100%;
  height: auto;
}
.download__apps {
  width: 60%;
  margin: auto;
}
.apps__links > div {
  width: 30%;
  height: auto;
}
.apps__links img {
  width: 100%;
  border: 1px solid var(--primary-button-color);
  border-radius: 40px;
  /* padding-inline: 1rem; */
  padding-block: 0.1rem;
}
.home__section span
{
  color: var(--primary-button-color);
}
/* Device Section  */

.devices__section {
  margin-top: 4rem;
}
.devices__section span
{
  color: var(--primary-button-color);
}
.devices__section h1 {
  max-width: 80%;
  margin: auto;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.devices__section .icons {
  background: rgba(255, 255, 255, 0.2);
  max-width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  cursor: pointer;
}

.devices__section .icons > div.active {
  background-color: rgba(243, 156, 18, 0.4);
  border: 2px solid var(--primary-button-color);
}

.devices__section .icons > div {
  text-align: center; /* Center align the icon and the text */
}

.devices__section .icons > div > i {
  font-size: 2rem;
  padding-block: 0.6rem;
}

.devices__section .icons > div > span {
  display: block; /* Ensure each span is on a new line */
}

.device__images {
  width: 80%;
  height: auto;
  margin: auto;
}
.device__images img {
  width: 100%;
  height: auto;
}
.channels {
  width: 80%;
  margin: auto;
}
.tv__channels > div {
  width: 20%;
}
.tv__channels img {
  width: 100%;
  height: auto;
}
.download__button {
  margin-block: 5rem;
}
footer {
  border-top: 2px solid;
  border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(216, 15, 47, 1), rgba(255, 255, 255, 0)) 1;
  width: 80%;
  margin: auto;
  padding-block: 2rem;
  color: #fff;
}
footer span {
  color: var(--primary-button-color);
}

.mySlides img {
  display: none;
}
.mySlides .active {
  display: block;
}

@media only screen and (max-width: 500px) {
  .browse{
    font-size: 10px;
  }
}  