
  .footer {
    background: var(--bgcolor);
    padding-top: 80px;
    padding-bottom: 40px;
  }


  @media only screen and (max-width:768px) {
    .single_footer {
      margin-bottom: 30px;
    }
  }

  .single_footer h4 {
    color:var(--themePrimaryTxtColor);
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
  }

  .single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background:var(--themePrimaryTxtColor);
    margin-top: 20px;
  }

  .single_footer p {
    color:var(--themePrimaryTxtColor);
  }

  .single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .single_footer ul li a {
    color:var(--themePrimaryTxtColor);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
  }

  .single_footer ul li a:hover {
    color:var(--themeActiveColor);
  }

  .single_footer_address ul li {
    color:var(--themePrimaryTxtColor);
  }

  .single_footer_address ul li span {
    font-weight: 400;
    color:var(--themePrimaryTxtColor);
    line-height: 28px;
  }

  .contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }

  /*START NEWSLETTER CSS*/
  .subscribe {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
  }

  .subscribe__input {
    background-color: #fff;
    border: medium none;
    border-radius: 5px;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 60px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 0 150px 0 20px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
  }

  @media only screen and (max-width:768px) {
    .subscribe__input {
      padding: 0 50px 0 20px;
    }
  }

  .subscribe__btn {
    background-color: transparent;
    border-radius: 0 25px 25px 0;
    color: var(--themeActiveColor);
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
  }

  .subscribe__btn i {
    transition: all 0.3s ease 0s;
  }

  @media only screen and (max-width:768px) {
    .subscribe__btn {
      right: 0px;
    }
  }

  .subscribe__btn:hover i {
    color:var(--themeActiveColor);
  }

  button {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  /*END NEWSLETTER CSS*/

  /*START SOCIAL PROFILE CSS*/
  .social_profile {
    margin-top: 40px;
  }

  .social_profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }

  .social_profile ul li {
    float: left;
  }

  .social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 18px;
    color:var(--themePrimaryTxtColor);
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  @media only screen and (max-width:768px) {
    .social_profile ul li a {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  @media only screen and (max-width:480px) {
    .social_profile ul li a {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }

  .social_profile ul li a:hover {
    background:var(--themeActiveColor);
    border: 1px solidvar(--themeActiveColor);
    color:var(--themePrimaryTxtColor);
    border: 0px;
  }

  .copyright {
    margin-top: 70px;
    padding-top: 40px;
    color:var(--themePrimaryTxtColor);
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
  }

  .copyright a {
    color: var(--themeActiveColor);
    transition: all 0.2s ease 0s;
  }

  .copyright a:hover {
    color:var(--themeActiveColor);
  }
