/*

	Font style.
	Easier way to style fonts in one single line.

*/
/*

	Utilities

*/
#content #slider .navigation ul li .li__hoverLine,
#content #slider .navigation ul li .li__info,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer,
#content #slider .navigation,
#content #slider {
    width: 100%;
}

#content #slider {
    height: 100%;
}

#content #slider .navigation ul li a,
#content #slider .backgroundImages .bi__imgCont .bi__imgCont-img,
#content #slider .backgroundImages .bi__imgCont,
#content #slider .backgroundImages,
#content #slider .mainImages .mi__img,
#content #slider .mainImages,
#content {
    width: 100%;
    height: 100%;
}

#content #slider .navigation ul li,
#content #slider .navigation ul {
    width: auto;
    display: table;
}

#content #slider .navigation ul li .li__info,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer,
#content #slider .navigation ul li a,
a {
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    /* easeOutExpo */
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    /* easeOutExpo */
}

#content {
    height: 70vh;
    position: relative;
    overflow: hidden;
    /* max-width: 1200px; */
}

#content .c {
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: var(--themePrimaryTxtColor);
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 99999;
    text-align: center;
}

#content .c a {
    color: var(--themePrimaryTxtColor);
    text-decoration: underline;
}

#content #slider {
    position: relative;
    /* Main images navigation */
    /* Background Images (Blur effect) */
    /* Navigation styles */
}

#content #slider img:not(.ignore) {
    display: none;
}

#content #slider .mainImages {
    position: relative;
    z-index: 1;
    width: 70%;
    margin: auto;
}

#content #slider .mainImages .mi__img {
    position: absolute;
    top: 0;
    left: 0;
    /* -webkit-transform: scale(0.7);
  transform: scale(0.7); */
}

#content #slider .backgroundImages {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#content #slider .backgroundImages .bi__imgCont {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#content #slider .backgroundImages .bi__imgCont .bi__imgCont-img {
    position: relative;
}

#content #slider .navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--themePrimaryTxtColor);
    z-index: 2;
    display: none;
}

#content #slider .navigation ul {
    margin: 90px auto;
}

#content #slider .navigation ul li {
    float: left;
    margin-right: 30px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#content #slider .navigation ul li:last-child {
    margin-right: 0;
}

#content #slider .navigation ul li:hover .li__info {
    opacity: 0.9 !important;
}

#content #slider .navigation ul li.active .li__hoverLine .l {
    width: 100%;
}

#content #slider .navigation ul li a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#content #slider .navigation ul li .li__info,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer {
    overflow: hidden;
    opacity: 0.7;
}

#content #slider .navigation ul li .li__info h5,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer h5 {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--themePrimaryTxtColor);
    float: left;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    padding: 4px 0px 5px 0px;
}

#content #slider .navigation ul li .li__info h4,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--themePrimaryTxtColor);
    float: left;
    padding-left: 6px;
    text-transform: uppercase;
}

#content #slider .navigation ul li .li__info-mask {
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    overflow: hidden;
}

#content #slider .navigation ul li .li__info-mask .mask__infoContainer {
    opacity: 1;
}

#content #slider .navigation ul li .li__hoverLine {
    height: 1px;
    float: left;
    margin-top: 8px;
}

#content #slider .navigation ul li .li__hoverLine .l {
    width: 0%;
    height: 1px;
    background: #cccccc;
    margin: 0 auto;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

#content #slider .mainImages .mi__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--bgcolor), rgba(0, 0, 0, 0) 70%);
    pointer-events: none;
}

.travel-info {
    position: absolute;
    bottom: 10%;
    left: 15%;
    width: 70%;
    padding: 20px;
    color: var(--themePrimaryTxtColor);
    z-index: 99;
}

.travel-info h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.travel-info .timestamp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 10px;
}

.travel-info .timestamp span {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}

.travel-info .timestamp .badges {
    display: flex;
    gap: 5px;
    margin-left: 8px;
}

.travel-info .timestamp .badge {
    display: block;
    border: solid 1px var(--themePrimaryTxtColor);
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 12px;
    color: var(--themePrimaryTxtColor);
    line-height: 20px;
}

.travel-info .description {
    font-size: 14px;
    font-weight: 300;
    display: -webkit-box;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px;
    margin-bottom: 15px;
    max-width: 50%;
}

.travel-info .btns {
    display: flex;
    gap: 10px;
}

.travel-info .btns a {
    padding: 5px 15px;
}

@media (max-width: 768px) {
    #content {
        height: 40vh;
        position: relative;
        overflow: hidden;
        /* max-width: 1200px; */
    }
}

@media (max-width: 600px) {
    #content #slider .mainImages {
        position: relative;
        z-index: 1;
        width: 100%;
        margin: auto;
    }

    .travel-info {
        position: absolute;
        bottom: 0%;
        left: 3%;
        width: 80%;
        padding: 0px;
        color: var(--themePrimaryTxtColor);
        z-index: 99;
    }

    #content {
        height: 27vh !important;
    }

    .travel-info .btns a {
        padding: 5px 8px;
        margin-bottom: 4px;
    }

    .travel-info .timestamp {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
        margin-bottom: 10px;
    }
}
