body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex: 0 0 auto;
  /* This prevents the slides from stretching */
  width: calc(100% / 1.5);
  /* This sets the width to show 1.5 slides */
}

.swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
   background: linear-gradient(to right, var(--bgcolor), rgba(0, 0, 0, 0) 70%);
  pointer-events: none;
}

.thumbnail__image {
  width: 100%;
  height: 545px;
  object-fit: cover;
  border-radius: 12px;
}

.travel-info {
  position: absolute;
  top: 44%;
  left: 3%;
  width: 50%;
  z-index: 1;
}

.travel-info h1 {
  color: var(--slidercardTitlecolor);
  font-size: 30px;
  margin-bottom: 17px;
  height: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 330px;
}

.travel-info .timestamp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 17px;
}

.travel-info .timestamp span {
  color: var(--slidercardCatColor);
  font-size: 16px;
  font-weight: 500;
  opacity: 0.6;
}

.travel-info .timestamp span i::before {
  transform: scale(1.5);
}

.travel-info .timestamp .badges {
  display: flex;
  gap: 5px;
  margin-left: 8px;
}

.travel-info .timestamp .badge {
  display: block;
  border: solid 1px #c9c9c9;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 15px;
}

.travel-info .description {
  color: var(--cardDesColor);
  opacity: 0.8;
  font-size: 15px;
  font-weight: 300;
  padding-right: 20px;
  display: -webkit-box;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 23px;
  margin-bottom: 35px;
}

.travel-info .btns {
  display: flex;
  gap: 17px;
  text-wrap:nowrap;
}

.travel-info .btns a {
  padding: 10px 23px;
}

.custom-page {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
}

.swiper-slide {
  transition: filter 0.5s ease;
}

.swiper-slide:not(.swiper-slide-active) {
  filter: blur(5px);
}

.swiper-horizontal {
  padding-bottom: 3rem !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background:  var(--themeActiveColor) !important;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 52px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 23%);
  background: white;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}
.swiper-pagination {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}