video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.tv-image {
  position: absolute;
  width: 200px;
  z-index: 900;
  left: 52px;
  top: 21px;
  width: 394px;
  height: 218px;
}

.fs-14px {
  font-size: 14px;
}

.text-grey {
  color: #abb7c4;
}

.bg-crimsonblack {
  background: #272727;
}

.our-story-card {
  /* background: transparent; */
  border-bottom: 8px solid #222;
  color: #fff;
  margin-bottom: 0;
  padding: 50px 5%;
  position: relative;
}

.footer_bottom {
  background: #131722;
  padding-left: 35px;
  padding-right: 35px;
}

.btn-warning {
  color: #000;
  background: #ff9202;
  border-color: 1px solid #ff9202;
}

.btn-warning:hover {
  color: #000;
  background: #e48201;
  border-color: 1px solid #ff9202;
}

.btn-primary {
  background: hsla(19, 99%, 50%, 1);
  background: linear-gradient(90deg, hsla(19, 99%, 50%, 1) 0%, hsla(34, 100%, 50%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(19, 99%, 50%, 1) 0%, hsla(34, 100%, 50%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(19, 99%, 50%, 1) 0%, hsla(34, 100%, 50%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FE5303", endColorstr="#FF9202", GradientType=1);
  border-color: 1px solid #ff9202;
  --bs-btn-border-color: #ff9202;
  border-radius: 34px;
  font-size: 16px;
}

.accordion-button:not(.collapsed) {
  color: #ff7c01;
}

.btn-primary:hover {
  background: #e48201;
  border-color: 1px solid #ff9202 !important;
  --bs-btn-border-color: #ff9202;
}

.btn-primary:focus {
  background: hsla(19, 99%, 50%, 1);
  background: linear-gradient(90deg, hsla(19, 99%, 50%, 1) 0%, hsla(34, 100%, 50%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(19, 99%, 50%, 1) 0%, hsla(34, 100%, 50%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(19, 99%, 50%, 1) 0%, hsla(34, 100%, 50%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FE5303", endColorstr="#FF9202", GradientType=1);
  border-color: 1px solid #ff9202;
  --bs-btn-border-color: #ff9202;
  border-radius: 34px;
}

.bg-transparent {
  background: #00000075 !important;
  border-bottom: 0 !important;
}


@media (max-width:767px) {
  .tv-image {
    position: absolute;
    width: 200px;
    z-index: 900;
    left: 39px;
    top: 16px;
    width: 272px;
    height: 155px;
  }
}